@font-face {
	font-family: 'Open Sans';
	src: url('OpenSans-Regular-webfont.woff') format('woff');
}

body header h1 {
	font-family: sans-serif;
	font-weight: 300;
	color: #e6e7e8;
	span.rouge {
		font-weight: 700;
		color: #ed458b;
	}
}

p {
	font-family: sans-serif;
	font-weight: 300;
	color: #fff;
}
