$ttr-rg: #edA58b;
$ttr-gr: #e6e7e8;
$txt-btn: #fff;
$txt-rslt: #eb008b;
$txt-msg: #404041;
$fnd-head: #404041;
$btn: #929497;
$btn-off: #d0d2d3;
$btn-hover: #eb008b;



@font-face {
	font-family: 'Open Sans';
	src: url('OpenSans-Regular-webfont.woff') format('woff');
}



p, h1, h2, button, span.rouge, input {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
}


